<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Application | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <script src="{% static 'script.js' %}"></script>
</head>
<body class="bg-gray-100 font-sans flex items-center justify-center h-screen">
{% block content %}{% endblock %}
</body>
</html>
